@import '../app.component.scss';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: "Comic Neue";
}

h1{
    font-size: 50px;
}

.container-centered{
    @include flexCenter;
}

#comic-image{
    width: fit-content;
    height: 50vh;
    max-width: 90vw;
}