@import '../app.component.scss';
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


$estrella:(
    estrella-activa : '../../../static/img/estrella.png',
    estrella-inactiva : '../../../static/img/estrella-vacia.png',
    estrella-sorprendida : '../../../static/img/estrella-sorprendida.png'
);

*{
    font-family: "Comic Neue";
}

.container-centered{
    @include flexCenter;
}

.star{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  text-indent: -9999px;
  margin: 10px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  cursor: pointer;
}

.btn{
    text-align: center;
    transition-duration: 0.1s;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0) 4px 4px 0 0,#000 4px 4px 0 1px;
    color: rgb(10, 9, 9);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 50px;
    margin-left: 20px;
    margin-right: 20px;
    &:hover {
        transition-duration: 0.4s;
        background-color: rgb(100, 100, 100);
    }
    &:active {
        transform: translate(2px, 2px);
        outline: 0;
        box-shadow: rgb(0, 0, 0) 2px 2px 0 0, #000 2px 2px 0 1px;
    }
}

.lighting-star {
  background-image: url(map-get($estrella, estrella-activa));
}

.empty-star {
  background-image: url(map-get($estrella, estrella-inactiva));
  &:hover{
    background-image: url(map-get($estrella, estrella-sorprendida));
    transition-duration: 0.2s;
  }
  &:active{
    background-image: url(map-get($estrella, estrella-activa));
    transition-duration: 0.2s;
  }
}